@use "../../utils" as u;

.card.card-evento{
  border-radius: 100px !important;
  box-shadow: u.$card-sm-box-shadow;
  height: 4.8rem;
  width: 85%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
  margin: 30px auto;
  padding: 0 0.5rem;
  position: relative;
  background-color: u.$success-50;
}

.card.card-evento:hover {
  box-shadow: u.$card-sm-box-shadow-hover;
  cursor: pointer;
}

.titulo-evento {
  max-height: 80%;
  width: 100%;
  display: flex;
  text-align: left !important;
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
  font-size: smaller;
}

.pills {
  width: 100%;
  position: absolute;
  bottom: -18px;
  left: 0;
  display: flex;
  justify-content: left;
}

.pills span{
  background-color: u.$secondary;
  color: #fff;
  margin-right: 4px;
  margin-left: 0px;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 11px;
}

.card.card-evento:hover .pills span {
  box-shadow: u.$card-sm-box-shadow-hover;
  cursor: pointer;
}

.circle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.circle small {
  font-size: 8px;
}
