@use "../../utils" as u;

.calendar-container {
  display: flex;
  width: 100%;
  height: 100vh;

  .fc {
    z-index: 0;
    width: 100%;

    .fc-col-header-cell-cushion,
    .fc-toolbar.fc-header-toolbar {
      text-transform: capitalize;
      color: u.$negro;
      text-decoration: none;
      font-weight: lighter;
    }

    .fc-toolbar.fc-header-toolbar {
      color: u.$primary;
      margin: 0;
      padding: 1.5rem * 0.5;
    }

    .fc-day.fc-daygrid-day {
      .fc-daygrid-day-top {
        justify-content: center;

        .fc-daygrid-day-number {
          color: u.$negro;
          text-decoration: none;
          cursor: default;
        }
      }

      &:hover > :not(:has(.fc-daygrid-day-events:hover)) {
        box-shadow: u.$calendar-event-box-inner-shadow;
      }
    }
  }
}

.evento-calendario {
  display: block;
  position: relative;
  border: none;
  padding: 0;
}

.titulo-evento-calendario {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
