/* Estilos base para .formulario */
.formulario {
    z-index: 10000;
    width: 58.5rem;
    height: 84rem;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--prim);
    background-color: var(--blanco);
    color: var(--negro);
    max-height: 100vh; /* Establece la altura máxima al 100% del alto de la pantalla */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    position: absolute; /* Posiciona el formulario de forma absoluta */
    top: 50%; /* Ubica la parte superior del formulario en el 50% de la pantalla */
    left: 50%; /* Ubica la izquierda del formulario en el 50% de la pantalla */
    transform: translate(-50%, -50%); /* Centra completamente el formulario*/   
    display: flexbox;
  }
  
  .Campo {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
  
    > label {
      text-align: left;
      width: 100%;
    }

    .campoParalelo {
        display:grid;
        justify-content: space-between;
        margin-right: 1px; /* Agrega margen inferior según tu preferencia */
      }

      .campoParalelo select {
        font-size: 18px; /* Ajusta el tamaño de la fuente según tu preferencia */
        padding: 2px; /* Ajusta el relleno según tu preferencia */
        max-width: 9rem; /* Ajusta el ancho máximo según tu preferencia */
      }
  
    > input {
      padding: 1rem;
      border-radius: 0.4rem;
      border: 1px solid var(--negro-50);
      background-color: white;
      color: var(--negro);
      display: grid;
  
      &:focus {
        outline: none;
        box-shadow: 0px 0px 0.8rem #00B2E3;
        border: 1px solid var(--prim-50);
      }
    }
  
    > select {
      padding: 1rem;
      border-radius: 0.4rem;
      border: 1px solid var(--negro-50);
      background-color: white;
      color: var(--negro);
  
      &:focus {
        outline: none;
        box-shadow: 0px 0px 0.8rem #00B2E3;
        border: 1px solid var(--prim-50);
      }
    }
  
    &.Campo-boton {
      > input {
        padding: 1rem 4rem 1rem 1rem;
      }
    }
  
    > .Boton {
      bottom: 0.1rem;
      right: 0.1rem;
      position: absolute;
    }
  }
  
  .Campos {
    display: flex;
  }
  
  /** Desaparece los input[type="file"] **/
  input[type=file]::file-selector-button {
    display: none;
  }
  
  /** Placeholder **/
  ::placeholder {
    color: var(--negro-50);
  }
  
  /* Estilos para header dentro de .formulario */
  .formulario > header {
    padding: 1.5rem 20rem;
    display: flex;
    align-items: center;
    color: var(--blanco);
    background-color: var(--prim);
    gap: 5rem; /* Ajusta el valor según la separación deseada entre los elementos */
    
  }
  

    .formulario > header > * {
        margin-right: 2.2rem; /* Ajusta el espacio entre los elementos según tu preferencia */
    }

  
  /* Estilos para body dentro de .formulario */
  .formulario > body {
    padding: 2rem;
    border: 1px solid var(--negro-20);
    background-color: var(--blanco);
    display: grid;
  }

    .formulario > footer{
        background-color: var(--);
        padding: 1.5rem 10rem;
    }
  
  /* Estilos para input y select dentro de .formulario */
  .formulario input[type="text"],
  .formulario input[type="password"],
  .formulario select {
    width: 100%;
    padding: 3px;
    margin: 4px 0;
    border: 1px solid var(--blanco);
    border-radius: 2px;
  }
  
  /* Consulta de medios para hacerlo responsive cuando el ancho de pantalla sea menor o igual a 768px */
  @media (max-width: 768px) {
    /* Redefine estilos para .formulario en pantallas más pequeñas */
    .formulario {
      width: 90%; /* Ajusta el ancho según tus necesidades en pantallas pequeñas */
      margin: 0 auto; /* Centra horizontalmente */
    }
  }
  
  /* Consulta de medios para hacerlo responsive cuando el ancho de pantalla sea menor o igual a 480px */
  @media (max-width: 480px) {
    /* Redefine estilos adicionales para pantallas aún más pequeñas si es necesario */
  }
  