/* styles.css */
.calendar-container {
  width: 80%; /* El 80% del ancho del contenedor padre */
  height: 100vh; /* El 60% de la altura de la ventana gráfica (viewport height) */
  padding: 10px 20px;
}
