.Campo {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;

  > label {
    width: 100%;
  }

  > input {
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid var(--negro-50);
    background-color: white;
    color: var(--negro);

    &:focus {
      outline: none;
      box-shadow: 0px 0px 0.8rem #00B2E3;
      border: 1px solid var(--prim-50);
    }
  }

  &.Campo-boton {
    > input {
      padding: 1rem 4rem 1rem 1rem;
    }
  }

  > .Boton {
    bottom: 0.1rem;
    right: 0.1rem;
    position: absolute;
  }
}

/** Desaparece los input[type="file"] **/
input[type=file]::file-selector-button {
  display: none;
}

/** Placeholder **/
::placeholder {
  color: var(--negro-50);
}
