<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="StylesAdmin.css">
    <title>Administración Agenda</title>



</head>

<body>
    <header>


        <div class="barra-UASLP">
            <img src="/src/components/FormularioAdministrador/img/Logo-Uaslp.png" alt="Imagen 1" class="imagen1">
            <img src="/src/components/FormularioAdministrador/img/LogoUaslp.png" alt="Imagen 2" class="imagen2">
            <div class="titulo">Administración Agenda Escolar</div>

        </div>

        <div class="barra-mini"></div>


    </header>

    <div class="formulario">
        <div class="encabezado">
            <h2>Administracion Agenda | Calendario</h2>
        </div>
        <form action="../FormularioAdministrador/LogInAdministrador.php" method="POST">
            <input type="text" name="Usuario" placeholder="IUsuario (Correo)" required>
            <input type="password" name="Contrasena" placeholder="Contraseña" required>
            <div class="linea-separadora"></div>
            <button type="button" class="boton boton-recuperar">Recuperar Contraseña</button>
            <button  type="submit" class="boton">Iniciar Sesión</button>

        </form>
    </div>
</body>
</html>
