@use '../../utils' as u;

.cardLarge {
  width: 100%;
  position: relative;
  display: flex;
  height: 150px;
}

.cardLarge:hover .content {
  box-shadow: u.$card-box-shadow-hover;
  cursor: pointer;
  /*transform: scale(1.003);*/
}

.bgColor {
  width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content {
  display: flex;
  width: 100%;
  box-shadow: u.$card-box-shadow; //5px 5px 10px #7a7a7a;
  border-radius: 10px;
  overflow: hidden;
}

.bold {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 28%;
  text-align: left;
  padding-left: 10px;
  position: relative;
}

.pills {
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 15px;
  display: flex;
  justify-content: left;
}

.cardLarge:hover .pills span {
  box-shadow: u.$card-sm-box-shadow-hover;
  cursor: pointer;
}

.cardLarge:hover .bgColor {
  background-color: greenyellow;
}

.fechas {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.fechas > .fecha > svg {
  color: u.$primary;
}

.text {
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
