@use "../../../utils/index" as u;

.CardSimbolo {
  width: 17rem;
  height: 20rem;
  padding: 1rem;
  box-shadow: u.$card-box-shadow;
  border-radius: u.$card-border-radius;
  border-width: u.$card-border-width;
  transition: all 0.3s;

  > .card-body {
    padding: 0;
    flex: 0;

    > .card-title {
      display: flex;
      justify-content: center;
      gap: u.$spacer * 0.5;
    }
  }

  > .card-img-bottom {
    max-width: 100%;
    object-fit:fill;
    max-height: 100%;
    border-radius: u.$card-border-radius;
    overflow: hidden;
  }

  &:hover {
    background-color: u.$blanco-80;
  }
}

.card-simbolo-nuevo {
  width: 17rem;
  height: 20rem;
  padding: 1rem;
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  background-color: u.$secondary-50;
  box-shadow: u.$card-box-shadow;
  border-radius: u.$card-border-radius;
  border-width: u.$card-border-width;
  transition: all 0.3s;
  color: u.$primary;


  .card-body {
    gap: 2rem;
    margin: 60px 0;

    > .new-icon {
      width: 5rem;
      height: 5rem;
      margin: 0 auto;
      padding: 0.8rem;
      border-radius: 50%;
      background-color: u.$primary;

      > * {
        width: 100%;
        height: 100%;
        color: u.$blanco;
      }
    }
  }
}

.card-simbolo-nuevo:hover {
  cursor: pointer;
  background-color: u.$secondary-80;

  > .filtro-icon {
    filter: brightness(100%);
  }
}

