@use '../../utils' as u;

.cardLarge{
    width: 100%;
    display: flex;
    min-height: 150px;
    box-shadow: u.$card-box-shadow;//5px 5px 10px #7a7a7a;

    border-radius: 10px;
    transition: ease;
}

.cardLarge:hover{
    box-shadow: 5px 5px 10px #2b93f5;
    cursor:pointer;
    transform: scale(1.003);
}

.bgColor{
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content{
    display: flex;
    width: 100%;
}

.bold{
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 28%;
    text-align: left;
    padding-left: 10px;
    position: relative;
}

.pills{
    width: 100%;
    position: absolute;
    bottom:-15px;
    left:15px;
    display: flex;
    justify-content:left;
}

.pills span{
    background-color: blue;
    color: #fff;
    margin-right: 15px;
    margin-left:0px;
    padding:4px 10px;
    border-radius: 20px;
    font-size:14px;
}

.cardLarge:hover .pills span{
    box-shadow: 5px 5px 10px #2b93f5;
    cursor:pointer;
}
.cardLarge:hover .bgColor{
    background-color: greenyellow;
}

.fechas{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text{
    display: flex;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}