<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="FormularioUsuario.css">
    <title>Administración Agenda</title>
    <script src="../FormularioUsuario/ScriptNuevoUsuario.js"></script>
</head>

<body>
    <header>
        <div class="barra-UASLP">
            <img src="/src/components/FormularioUsuario/img/Logo-Uaslp.png" alt="Imagen 1" class="imagen1">
            <img src="/src/components/FormularioUsuario/img/LogoUaslp.png" alt="Imagen 2" class="imagen2">

        </div>
        <div class="barra-mini"></div>
    </header>
 <body class="body-centrado">
     <div class="formulario">
        <div class="encabezado">
            <h2>Nuevo Usuario</h2>
        </div>

             <form action="procesar_iniciar_sesion.php" method="POST">
                <input type="text" id="Nombre" name="Nombre(s)" placeholder="Nombre(s)" required>
                <input type="text" id="Apellidos" name="Apellido(s)" placeholder="Apellido(s)" required>

                <!-- Campo "Tipo de Usuario" -->
                <select name="TipoUsuario" required>
                    <option value="">Seleccione el Tipo de Usuario</option>
                    <option value="Secundario">Secundario</option>
                    <option value="Becario">Becario</option>
                </select>

                <!-- Campo "Permisos" -->
                <select name="Permisos" required>
                    <option value="">Seleccione los Permisos</option>
                    <option value="Creacion de eventos">Creación de eventos</option>
                    <option value="Modificacion de eventos">Modificación de eventos</option>
                    <option value="Eliminacion de eventos">Eliminación de eventos</option>
                    <option value="Modificacion de usuarios">Modificación de usuarios</option>
                    <option value="Modificacion de agenda">Modificación de agenda</option>
                </select>
                <input type="text" id="Correo" name="Correo" placeholder="Correo" required>
                <input type="password" id="Contraseña" name="Contrasena" placeholder="Contraseña" required>
                <input type="password" id="Contraseña-1" name="Confirma contrasena" placeholder="Confirma Contraseña" required>



                <div class="linea-separadora"></div>
                <button type="submit" class="boton boton-agregar">Agregar</button>
                <button type="button" class="boton boton-cancelar">Cancelar</button>
            </form>
        </div>
    </body>
</body>
</html>
