* {
    margin: 0;
    padding: 0;
}

.card{
    width: 200px;
    height: 360px;
    border: 1px solid #1111;
    border-radius: 20px;
    box-shadow: 2px 3px 5px 2px #1111;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.card:hover{
    background-color: rgb(243, 243,243);
}

.redonda {
    width: 100px;
    height: 100px;
    border-radius: 150%;
}

#card-crud {
    display: block;
}

.btns {
    float: right;
}

#pcard {
    float: left;
}

.pencil{
    color: var(--prim);
    background-color: white;

}


.trash{
    color: var(--error-50);
    background-color: white;
    left: 0;
}


#b1, #b2{
    text-decoration: none;
    background-color: white;
    border-color: white;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 150%;
    line-height: 0%;
    cursor: pointer;
}

#b1:hover{
    background-color: var(--prim);
}

#b1:hover > .pencil {
    background-color: var(--prim);
    color: white;
}

#b2:hover {
    background-color: var(--terc-20);
}

#b2:hover > .trash{
    background-color: var(--terc-20);
    color: var(--terc-80);
} 

#card-data{
    background-color: var(--sec);
    color: white;
    border-radius:  25px;
    width: 100%;
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button{
   all: unset; 
}

#bcC {
 
  color: var(--error);
}

#bcC:hover{
    background-color: var(--terc-20);
}

#beC{
    color: var(--prim);
}

#beC:hover {
    color: white;
    background-color: var(--prim);
}