@use "../../../utils/constants" as c;

.ChipUsuario {
  height: 2.4rem;
  width: 2.4rem;

  img {
    width: 100%;
  }

  span {
    padding: c.$spacer * 0.5;
  }
}

#usuarios-conectados-tooltip {
  width: 9rem;
}
