/* styles.css */



.calendar-container {
    width: 80%; /* El 80% del ancho del contenedor padre */
    height: 100vh; /* El 60% de la altura de la ventana gráfica (viewport height) */
    padding: 10px 20px;
  }
  
  .evento-calendario {
    position: relative;
    border: none;
    padding: 0;
  }
  
  .titulo-evento-calendario {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  @media (max-width:390px) {
    .calendar-container {
      width:100vw;
      /* height: 30vh !important; */
    }
    .fc-scrollgrid-sync-table{
      width: 100vw;
      /* height: 30vh !important; */
    }
  }
  
  
  @media (max-width: 770px )
  {
    .calendar-container {
      width:100vw;
      height: 60vh !important;
    }
    .fc-scrollgrid-sync-table{
      width: 100vw;
      height: 60vh !important;
    }
  }