<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles.css">
    <title>Botón Administración</title>
</head>
<body>
    <header>
        <div class="barra-correo-directorio">
            <span>Correo</span>
            <span>Directorio</span>
        </div>
        
        <div class="barra-UASLP"></div>
        <div class="barra-mini"></div>

        <div class="barra-botones">
            <a href="../FormularioUsuario/Formulario_NuevoUsuario.html" class="boton">Nuevo Usuario</a>
            <a href="#" class="boton">Agenda</a>
            <a href="#" class="boton">Más Eventos</a>
            <a href="../FormularioAdministrador/Formulario_Administrador.html" class="boton">Admistracion</a>
        </div>
    </header>
</body>
</html>
