@use "../../utils" as u;


.tableHead{
  color:lightgrey;
  border-bottom: 5px solid;
  margin-bottom: 10px;

  > tr th{
    color: u.$primary;
    // background-color: u.$blanco-80;
  }

}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Ancho del cuadro */
  height: 100px; /* Alto del cuadro */
  border-radius: 10px; /* Esquinas redondeadas */
  overflow: hidden; /* Para ocultar cualquier parte de la imagen que se salga del cuadro */

  >img{
    max-width: 100%; /* Para asegurarse de que la imagen no se salga del contenedor */
    max-height: 100%; /* Para asegurarse de que la imagen no se salga del contenedor */
  }
}


.tableDesplaz-y {
  height: 500px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0%;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}