/**
 * index.css
 * Constantes de colores, fuentes, estilos de elementos comunes (<a>, <p>, <h1>, etc),
 * y modificación al sistema rem para especificar tamaños en texto y otros elementos.
 *
 * TODO: Definir constantes de colores y fuentes
 */
:root {
  /**
   * Constantes de colores
   */

  /**
   * Constantes de fuentes
   */


  /**
   * Valores por defecto
   */
  color-scheme: light dark;
  background-color: white;
  color: black;

  /** Relocalizar estas opciones **/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/** Modificación de box model y escalado de 1rem = 10px **/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/** Margen y escalado de 1rem = 10px **/
body {
  font-size: 1.6rem;
}
