@use "../../utils" as u;

.FormularioLogin {
  height: fit-content;
  max-width: 30rem;
  margin: 0 auto;

  .card-header {
    background-color: u.$primary;
  }

  .card-footer {
    .btn {
      width: 100%;
    }
  }
}
