@use "colors" as c;

$input-focus-box-shadow: 0 0 0.35rem 0.15rem c.$color-sombra-campo;
$input-focus-box-shadow-invalid: 0 0 0.35rem 0.15rem c.$danger;
$card-box-shadow: 0 4px 4px 3px c.$color-sombra;
$card-box-shadow-hover: 0 4px 4px 3px rgba(c.$secondary-80, 0.5);
$card-sm-box-shadow: 0 2px 5px 3px c.$color-sombra;
$card-sm-box-shadow-hover: 0 2px 5px 3px rgba(c.$secondary-80, 0.5);
$calendar-event-box-inner-shadow: inset 0px 0px 12px 0px c.$secondary;
