@use "../../../utils/index" as u;

.btn, .navbar-expand .navbar-nav .nav-link, .nav-link {
  padding: u.$btn-padding-y u.$btn-padding-x;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: u.$btn-border-radius;

  &.rounded-circle {
    padding: u.$btn-padding-x;
  }

  &.btn-primary, &[variant="primary"] {
    color: u.$blanco;
    background-color: u.$primary;

    &:hover {
      background-color: u.$primary-50;
    }

    &:active {
      background-color: u.$primary-80;
    }
  }

  &.btn-primary-inverse, &[variant="primary-inverse"] {
    color: u.$primary;

    &:hover {
      color: u.$blanco;
      background-color: u.$primary;
    }

    &:active {
      color: u.$blanco;
      background-color: u.$primary-50;
    }
  }

  &.btn-secondary, &[variant="secondary"] {
    background-color: transparent;
    color: u.$negro;

    &:hover {
      color: u.$blanco;
      background-color: gray;
    }

    &:active {
      background-color: u.$blanco-80;
    }
  }

  &.btn-secondary-inverse, &[variant="secondary-inverse"] {
    background-color: transparent;
    color: u.$blanco;

    &:hover {
      color: u.$negro;
      background-color: u.$blanco;

    }

    &:active {
      background-color: u.$blanco-80;
    }

  }

  &.btn-danger {
    color: u.$blanco;

    &:hover {
      background-color: u.$tertiary-20;
    }
  }

  &.btn-danger-inverse {
    color: u.$danger;

    &:hover {
      background-color: u.$tertiary-20;
    }

    &:active {
      color: u.$danger-20;
      background-color: u.$tertiary-80;
    }
  }

  &.btn-success-inverse {
    color: u.$success;

    &:hover {
      background-color: u.$success-20;
    }

    &:active {
      color: u.$success-20;
      background-color: u.$success-80;
    }
  }

}

.link-text {
  margin-right: 0.5rem;
}

.line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1200px) {
  .btn, .navbar-expand .navbar-nav .nav-link, .nav-link {
    width: 100%;
  }
}
