@use "../../utils" as u;

.btn, .navbar-expand .navbar-nav .nav-link {
  padding: u.$btn-padding-y u.$btn-padding-x;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: larger;
  border: none;
  border-radius: u.$btn-border-radius;

  &.btn-primary, &[variant="primary"] {
    color: u.$blanco;
    background-color: u.$primary;

    &:hover {
      background-color: u.$primary-50;
    }

    &:active {
      background-color: u.$primary-80;
    }
  }

  &.btn-primary-inverse, &[variant="primary-inverse"] {
    color: u.$primary;

    &:hover {
      color: u.$blanco;
      background-color: u.$primary;
    }

    &:active {
      color: u.$blanco;
      background-color: u.$primary-50;
    }
  }

  &.btn-secondary {
    background-color: transparent;

    &:hover {
      color: u.$negro;
      background-color: u.$blanco;
    }

    &:active {
      background-color: u.$blanco-80;
    }
  }

  &.btn-danger {
    &:hover {
      background-color: u.$tertiary-20;
    }
  }

  &.btn-danger-inverse {
    color: u.$danger;

    &:hover {
      background-color: u.$tertiary-20;
    }

    &:active {
      color: u.$danger-20;
      background-color: u.$tertiary-80;
    }
  }

  &.btn-success-inverse {
    color: u.$success;

    &:hover {
      background-color: u.$success-20;
    }

    &:active {
      color: u.$success-20;
      background-color: u.$success-80;
    }
  }
}
