.Boton {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  color: var(--prim);
  background-color: transparent;
  transition: all 0.3s;
}

.Circular {
  border-radius: 50%;
}

.Boton:hover {
  background-color: var(--prim);

  > * {
    color: var(--blanco);
  }
}

.Boton__Seleccionado {
  background-color: var(--prim-50);

  > * {
    color: var(--blanco);
  }
}
