.Boton {

}

.Boton-icono {
  max-width: 3.7rem;
  max-height: 3.7rem;
  display: flex;
  padding: 0.8rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  > * {
    width: 100%;
    height: 100%;
    color: inherit;
  }

  &:hover {
    background-color: var(--prim);

    > * {
      color: white;
    }
  }

  &:active {
    background-color: var(--prim-50);

    > * {
      color: white;
    }
  }
}
