@use '../../../utils/index' as u;

.Agenda {
  margin-top: u.$spacer * 5;
  margin-bottom: u.$spacer * 2.5;
}

.modalEvento {
  > img {
    width: 100%;
    object-fit: cover;
    height: 18rem;
  }

  > p {
    text-align: justify;
  }
}
