dropdown-menu {
    z-index: 1000;
    background-color: var(--prim);
    border: 1px solid var(--border-color);
    color: var(--color-light);
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

.dropdown-menu .dropdown-item {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--color-light);;
}