.header-uaslp {
  height: 13rem;
  background-color: var(--prim);
}

.header-agenda {
  height: 4rem;
  background-color: var(--terc);
}

.flex{
  display: flex;
  justify-content: space-between;
  height: auto;
}

.fc{
  height: 100vh;
}

.smallCalendar{
  background-color: #144ff3;
  width: 20%;
  height: 100vh;
  color: #fff;
  display: block;
  overflow-y: scroll;
}

.react-calendar{
  width:90% !important;

  font-size: 15px;
  color: #000;
  margin: 20px auto;
}
.react-calendar button{
  font-size:12px !important;
}

.react-calendar__navigation__label__labelText .react-calendar__navigation__label__labelText--from{
font-size:15px;
}